<configuration>
    <property name="LOGS" value="logs"/>
    <property name="JSON_FILE_NAME" value="tasker"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
        <file>${LOGS}/${JSON_FILE_NAME}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/${JSON_FILE_NAME}.%d{yyyy-MM-dd}.%i.json.gz}</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>4</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>

    <logger name="io.hrushik09" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
</configuration>